@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Nunito:ital,wght@1,200&display=swap');

*{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    box-sizing: border-box;
}

header{
    padding: 10px 35px;
    background-color: rgb(238,237,232);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
}
 header h1{
     font-weight: bold;
     font-size: 30px;
     font-family: 'Lobster Two', cursive;
 }

 header a{
     text-decoration: none;
     color: black;
 }
 header nav ul{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }
header nav ul a{
    padding: 10px;
    font-size: 1.5vw;
}
section{
    padding-bottom: 20px;
    display: block;
}

body{
    margin: 0 50px 0 50px;
    background-color: rgb(238,237,232);
    padding: 50px;
}

.flex-row{
    display: flex;
   
}

.section-title {
    font-size: 30px;
    font-family: 'Lobster Two', cursive;
    color: #010101;
    /* border-bottom: 3px solid; */
    border-color: rgb(79, 79, 79);
    padding-bottom: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
    width: 100%;
}


.hero{   
    background-image: url(../imges/_A7T7938.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 80%;
    align-items: flex-end;
    padding: 100px;
}


.about-me{
    margin: 20px;
   display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
}
.about-con{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.about-me-info {
        flex:2 70%;
       margin: 20px;
        
}
.port-img{ 
  margin: 10px;
  flex: 1 30%;
  
}

.port-img img {
    height: 340px;
    width: 250px;
}


.skill-icon{
   display: block;
}
.skill-icon div {
     display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}
.skill-icon ul li{
    display: inline;
    margin: 0 30px 0 30px;
}
.skill-icon ul li img{
     flex: 1 13%; 
     max-block-size: 8vw;
}